// Primary
$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);

// Neutral
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: rgb(20, 20, 20);
