@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.attribution {
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	background-color: $offWhite;
	font-family: 'Poppins', sans-serif;

	.container {
		margin-top: 50px;
		padding: 40px 25px;
		width: 350px;
		height: 550px;
		background-color: $white;
		border-radius: 20px 20px 80px;

		.input {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 35%;
			border-bottom: 1px solid $lightGrey;

			.box {
				display: flex;
				flex-direction: column;

				label {
					text-transform: uppercase;
					letter-spacing: 3px;
					font-size: 14px;
					color: $smokeyGrey;
				}

				input {
					height: 60px;
					width: 90px;
					margin: 5px 0;
					padding: 0 15px;
					font-size: 20px;
					font-weight: 600;
					border: 1px solid $lightGrey;
					border-radius: 8px;
					font-family: 'Poppins', sans-serif;

					&:focus {
						outline: none;
						border: 1px solid $purple;
					}
				}

				.error {
					color: $lightRed;
					font-size: 8px;
					font-weight: 400;
					font-style: italic;
				}
			}

			.invalid {
				label {
					color: $lightRed;
				}
				input {
					border: 1px solid $lightRed;
				}
			}

			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 50%);
				background-color: $purple;
				border-radius: 70px;
				height: 70px;
				width: 70px;
				transition: background-color 0.2s ease;

				.arrow {
					height: 30px;
				}

				&:hover {
					cursor: pointer;
					background-color: $offBlack;
				}
			}
		}

		.output {
			display: flex;
			flex-direction: column;
			padding: 70px 0;

			.score {
				p {
					font-size: 50px;
					font-weight: 800;
					font-style: italic;
					line-height: 60px;

					span {
						color: $purple;
					}
				}
			}
		}
	}
}

@media (min-width: 800px) {
	body {
		.container {
			padding: 40px 40px;
			width: 700px;

			.input {
				justify-content: left;
				gap: 30px;

				.box {
					input {
						width: 140px;
						height: 70px;
						font-size: 32px;
					}

					.error {
						font-size: 12px;
					}
				}

				.icon {
					left: 95%;
				}
			}

			.output {
				padding: 40px 0;
				.score {
					p {
						font-size: 80px;
						line-height: 90px;
					}
				}
			}
		}
	}
}
